<!DOCTYPE html>
<html>
  <head>
    <title>NewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>投稿一覧</li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
